<a href="https://colab.research.google.com/github/jlagosobando/ApuntesPrograPyInn/blob/main/ICC157_Semana02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div>
<img src="https://www.ufro.cl/index.php/normas-corporativas/30-logo-ufro-azul-horizontal/file" width="250"/>
</div>

**ICC157 Taller de Programación**

Profesor Mg. Juan Lagos O.

### Revisión General

El uso de la función **type** nos entrega el tipo de dato asociado a una variable o valor. 
Esto es muy útil cuando algo no nos funciona por que los tipos de dato son incompatibles, así podemos ver que tipos de datos están trabajando efectivamente y corregir.

A los tipos de datos de lenguaje natural, ahora asociamos nombres técnicos especificos de Python


| Lenguaje Natural | Término Técnico | Abreviación |
|------------------|-----------------|-------------|
| Número Entero    | Integer         | int         |
| Número Decimal   | Float           | float       |
| Textos           | String          | str         |
| Lógicos          | Booleano        | bool        |

In [ ]:
a=1300
type(a)

int

In [ ]:
b=10.3
type(b)

float

In [ ]:
c="hola"
type(c)

str

In [ ]:
type(True)

bool

Como type trabaja también sobre valores, puede operar recibiendo el resultado de una operación.
Aquí además podemos ver algo importante, ante un operador (+) y los operandos (x,y)(g,j), **la operación se define por los tipos de datos**. 

Así la (+) es suma aritmética cuando los operando son números, y concatenar (unir cadenas de texto) cuando los operando son textos.

In [ ]:
x=4
y=5
print(x+y)
type(x+y)

9

int

In [ ]:
g="hol"
j="a"
print(g+j)

hola

#### Input

Pra que una variable adquiera valor, usamos el simbolo (=) y el valor, operación o función que le otorgará el contenido.

Siempre se escribe con la sintaxis de **variable = valor**

Revisa lo siguientes bloques, donde se ingresó por teclado un número entero.
¿Qué pasó con el tipo de dato? ¿Te parece bien?

Reintenta ingresando otro entero o decimal.

In [ ]:
variable=input()

7

In [ ]:
print(variable)
type(variable)

7

str

Lo anterior ocurre ya que el input() siempre entrega un valor de Texto (String, str) por tanto si lo queremos usar como entero, debemos hacer como lo siguiente:

In [ ]:
variable=int(input())
type(variable)

5

int

¿Y si queremos trabajar con decimales? Usamos float para forzar el dato.
Revisa en la siguiente terminal para que no te confundas:



*   10 es lo que se ingresó por teclado
*   10.0 es como se guardó, dandole forma decimal
*   float es el tipo de dato que tiene la variable

In [ ]:
k=float(input())
print(k)
type(k)

10
10.0

float

#### Ejercicios del día

Ejercicio 1 : Suma 2 números ingresados por el usuario.
Prueba los siguientes casos:
*  El usuario ingresa números enteros.
*  El usuario ingresa números reales.

In [ ]:
# El usuario ingresa números enteros.

num1=int(input())
num2=int(input())
print(num1+num2)

10
22
32

In [ ]:
# El usuario ingresa números reales.
print("ingrese su primer num a sumar")
num1=float(input())
num2=float(input("ingrese su segundo num a sumar "))
print("resultado:",num1+num2)

ingrese su primer num a sumar
6
ingrese su segundo num a sumar 7
resultado: 13.0

Ejercicio 2: Crea un programa que permita calcular el IVA (19%) a un producto y mostrar:

* Valor neto (valor sin incluir IVA)
* Valor IVA
* Valor total

In [3]:
valor_producto=int(input("ingrese el valor total de su producto "))

iva=(valor_producto*19)/119
valor_neto=valor_producto-iva

print("el valor neto es ",valor_neto)
print("el iva es ",iva)

ingrese el valor total de su producto 119
el valor neto es  100.0
el iva es  19.0

Ejercicio 3: Reordenar el ejercicio 1 para que:
*  Si el el primer número es válido, pida el segundo, sino se avisa que no sirve y termina el programa
*  Si el segundo número es valido, se realiza e informa la suma. Sino, se avisa y termina el programa.

In [ ]:
# El usuario ingresa números reales.
print("ingrese su primer num a sumar")

num1=float(input())

if (num1>0):
  num2=float(input("ingrese su segundo num a sumar "))
  if (num2>0):
    print("resultado:",num1+num2)
  else:
    print("Su 2do num no cumple el criterio")
else:
  print("Su 1er num no cumple el criterio")

ingrese su primer num a sumar
-6
Su 1er num no cumple el criterio

Ejercicio 4: Clasificar si un número es positivo, negativo o neutro.

In [4]:
#clasificar num sg positivo, negativo, neutro
#acá se hacen las tres preguntas

n=float(input("ingrese el num a evaluar "))

#si condición entonces acción

if(n>0):
  res="positivo"  

if(n<0):
  res="negativo"

if(n==0):
  res="neutro"

print("su num es",res)

ingrese el num a evaluar 10
su num es positivo

In [5]:
#clasificar num sg positivo, negativo, neutro
#acá se hacen las preguntas solo necesarias

n=float(input("ingrese el num a evaluar "))

if(n>0):
  res="positivo"
else:
  if(n<0):
    res="negativo"
  else:
    res="neutro"  

print("su num es",res)

ingrese el num a evaluar 546
su num es positivo

In [7]:
#clasificar num sg positivo, negativo, neutro
#acá se hacen las preguntas solo necesarias

n=float(input("ingrese el num a evaluar "))

if(n>0):
  res="positivo"
elif(n<0):
  res="negativo"
else:
  res="neutro"  

print("su num es",res)

ingrese el num a evaluar 0
su num es neutro

In [ ]:
# promediar 3 notas

nota1=float(input("ingrese su nota n1 "))
while(nota1<1 or nota1>7):
  nota1=float(input("ingrese su nota  n1 nuevamente "))

nota2=float(input("ingrese su nota n2 "))
while(nota2<1 or nota2>7):
  nota2=float(input("ingrese su nota n2 nuevamente "))

nota3=float(input("ingrese su nota n3 "))
while(nota3<1 or nota3>7):
  nota3=float(input("ingrese su nota n3 nuevamente "))  

promedio=(nota1+nota2+nota3)/3  
print("su promedio fue",promedio)

ingrese su nota n1 9
ingrese su nota  n1 nuevamente -6
ingrese su nota  n1 nuevamente 5
ingrese su nota n2 3
ingrese su nota n3 1
su promedio fue 3.0